/* .sidebar {
    width: 300px;
    height: 94vh;
    background-color: #f4f4f4;
    padding: 20px;
    border-right: 1px solid #ddd;
    margin-top: 50px;
    position: fixed;
  } */

  /* .sidebar {
    width: 300px;                  
    border-right: 1px solid #ddd;  
    position: fixed;              
    top: 50px;                    
    left: 0;                      
    overflow-y: auto;             
    height: calc(100vh - 50px);   
    background-color: #f4f4f4;     
    padding: 20px;                
  } */
  
  .sidebar {
    width: 300px;
    height: calc(100vh - 50px); /* Sidebar height excluding Navbar */
    background-color: #f4f4f4;
    padding: 20px;
    border-right: 1px solid #ddd;
    position: fixed;
    top: 50px; /* Positioned below Navbar */
    left: 0;
    overflow-y: auto;
    z-index: 1; 
}

.sidebar h2 {
    margin-bottom: 10px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin: 10px 0;
    cursor: pointer;
}

  .sidebar h2 {
    margin-bottom: 10px;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    margin: 10px 0;
    cursor: pointer;
  }
  